body {
  background-color: rgb(66, 63, 63);
}

.container {
  margin: 0;
  height: 20%;
  background: radial-gradient(whitesmoke,rgb(73, 72, 72));
  border: 1cap;
  border-style: solid;
  border-color: black;
  border-radius: 3ch;
  text-align: center;
  position: sticky;
}

.m-0 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  font-size: 200%;
}

.btn {
  padding: 1%;
  padding-left: 2%;
  color:black;
  font-weight: bolder;
  font-size: 125%;
  position: relative;
}

.page main {
  height: 60%;
  width: 100px;
  position: sticky;
  left: 0;
  padding: 5%;
  padding-bottom: 10%;
  background-color: whitesmoke;
  border-style: solid;
  border-color: black;
  border-radius: 2ch;
 
}
