.container {
  background: radial-gradient(whitesmoke,rgb(73, 72, 72));
  background-color: gray;
  border: 1cap;
  border-style: solid;
  border-color: black;
  border-radius: 3ch;
  text-align: center;
}

.m-0 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  font-size: 200%;
}

.btn {
  padding: 1%;
  padding-left: 2%;
  color:black;
  font-weight: bolder;
  font-size: 125%;
  position: relative;
}

.homepage section p {
 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: larger;
 font-style: italic;
 word-wrap: inherit;
}

.homepage h2 {
  text-align: center;
  text-decoration: underline;
}

.homepage ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  list-style: none;
}